<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Federo">
    <title>Home</title>
</head>

<body class="home">
    <div class="container">
        <div class="navigation">
            <button class="style"><a href="/trip">Home</a></button>
            <button class="style"><a href="/trip/new">New Trip</a></button>
            <button class="style"><a href="/trip/search">Search</a></button>
            <button class="style"><a href="/logout">Logout</a></button>
        </div>
        <div class="welcome">
        <h1>Hello {{user.first_name}}</h1>
        {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
        <button class="style"><a href="/user/{{user.id}}/edit">Edit Profile</a></button> 
        </div>       
        <div class="trips" >
            <h4 style="text-align: center">Your Trips:</h4>
            <table class="table">
                
                <thead>
                    <th>Trips</th>
                    <th style="text-align: right">Actions</th>
                </thead>
                {% for trip in trips %}
                <tbody>
                    <tr>
                        <td><a href="/trip/{{trip.id}}">{{trip.destination}}</a></td>
                        <td style="text-align: right"><a href="trip/{{trip.id}}/edit">Edit</a> | <a href="trip/{{trip.id}}/delete">Delete</a></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</body>