<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <h1>Register to Project Name</h1>
        <form action="/register_user" method='POST'>
        {% csrf_token %}
        <label for="first_name" class="form-label">First Name:</label>
        <input type="text" class='form-control' name='first_name'>
        <label for="last_name" class="form-label">Last Name:</label>
        <input type="text" class="form-control" name='last_name'>
        <label for="email" class="form-label">Email:</label>
        <input type="text" class="form-control" name='email'>
        <label for="pw" class="form-label">Password:</label>
        <input type="password" class="form-control" name='password'>
        <label for="confirm_pw" class="form-label">Confirm Password:</label>
        <input type="password" class="form-control" name='confirm_pw'>
        <button>Register</button>
        </form>
        <p>Returning User? <a href="/login">Click here to login.</a></p>
    </div>
</body>