<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Federo">
    <title>Add a Trip</title>
    {%include "partials/map_header.html"%}
</head>

<body class="home">
    <div class="container">
        <div class="navigation">
            <button><a href="/trip">Home</a></button>
            <button><a href="/trip/new">New Trip</a></button>
            <button><a href="/trip/search">Search</a></button>
            <button><a href="/logout">Logout</a></button>
        </div>
        <div class="row justify-content-center" style="margin-top: 40px">
            <div class="col-md-4">
            <h2 id="destination">{{trip.destination}}</h2>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            <div class="row">
                <div class="text col-md-6">
                    <p><a href="/user/{{trip.uploaded_by_id.id}}">{{trip.uploaded_by_id.first_name}}
                            {{trip.uploaded_by_id.last_name}}'s</a> trip to {{trip.destination}}</p>
                    <p>From: {{trip.date_from}}</p>
                    <p>To: {{trip.date_to}}</p>
                    <p>Description: {{trip.description}}</p>
                    {% if user.id == trip.uploaded_by_id.id %}
                    <p><button><a href="/trip/{{trip.id}}/edit">Edit</a></button> <button><a href="/trip/{{trip.id}}/delete">Delete</a></button></p>
                    {% endif %}
                </div>
                {%include "partials/map.html"%}
            </div>           
            <div class="col-md-4">
                <h2>Spotify Playlist:</h2>
                <iframe src="https://open.spotify.com/embed/playlist/{{trip.spotify}}" width="360" height="300"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</body>