<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Upload a Trip Photo</title>
</head>

<body>
    <div class="container">
        <div class="navigation">
            <a href="/trip">Home</a>
            <a href="/trip/new">New Trip</a>
            <a href="/trip/search">Search</a>
        </div>
        <div class="upload">
            <h2>Add a Photo for your trip to {{trip.destination}}</h2>
            <form action="/trip/{{trip.id}}/upload" method='POST'>
            {% csrf_token %}
            <label for="image" class="form-label">Choose a Picture</label>
            <input type="file" class="form-control" name='image' accept='image/png, image/jpeg'>
            <button>Upload</button>
            </form>
        </div>
    </div>
</body>