<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Your Profile</title>
</head>

<body>
    <div class="container">
        <div class="navigation">
            <a href="/trip">Home</a>
            <a href="/trip/new">New Trip</a>
            <a href="/trip/search">Search</a>
        </div>
        <h3>Update your information</h3>
        <div class="row">
            <div class="update col-md-6">
                <form action="/user/{{user.id}}/update" method='POST'>
                {% csrf_token %}
                <label for="first_name" class="form-label">First Name:</label>
                <input type="text" class='form-control' name='first_name' value='{{user.first_name}}'>
                <label for="last_name" class="form-label"> Last Name:</label>
                <input type="text" class="form-control" name='last_name' value='{{user.last_name}}'>
                <label for="email" class="form-label">E-mail:</label>
                <input type="text" class="form-control" name='email' value='{{user.email}}'>
                <button>Update</button>
                </form>
                <p>Delete Your Account</p>
                <p>Warning! Clicking below will delete your account and all trips.</p>
                <button><a href="/user/{{user.id}}/delete">Delete</a></button>
            </div>
            <div class="photo col-md-6">
                <img src="" alt="Your Profile Image">
                <p><a href="/user/{{user.id}}/image">Upload Profile Picture</a></p>
            </div>
        </div>
    </div>
</body>